Source: vyos-world
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.1

Package: vyos-world
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-op,
 vyatta-config-mgmt,
 vyatta-config-migrate,
 vyatta-cfg-firewall,
 vyatta-op-firewall,
 vyatta-cfg-op-pppoe,
 vyatta-cfg-qos,
 vyatta-op-qos,
 vyatta-cfg-quagga,
 vyatta-op-quagga,
 vyatta-cfg-vpn,
 vyatta-op-vpn,
 vyatta-cluster,
 vyatta-conntrack,
 vyatta-conntrack-sync,
 vyatta-eventwatch,
 vyatta-ipv6-rtradv,
 vyatta-lldp,
 vyatta-nat,
 vyatta-netflow,
 vyatta-openvpn,
 vyatta-ravpn,
 vyatta-wanloadbalance,
 vyatta-webproxy,
 vyatta-wireless,
 vyatta-wirelessmodem,
 vyatta-zone,
 vyos-intel-e1000e,
 vyos-intel-i40e,
 vyos-intel-i40evf,
 vyos-intel-igb,
 vyos-intel-ixgbe,
 vyos-intel-ixgbevf,
 vyos-firmware,
 vyos-nhrp,
 vyos-1x,
 vyos-salt-minion,
 vyos-vmwaretools-scripts
Description: VyOS metapackage
 Installs everything required for VyOS to work
