Source: vyos-world
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.1

Package: vyos-world
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-bash,
 vyatta-op,
 vyatta-cfg,
 vyatta-config-mgmt,
 vyatta-cfg-firewall,
 vyatta-op-firewall,
 vyatta-cfg-qos,
 vyatta-op-qos,
 vyatta-cfg-quagga,
 vyatta-op-quagga,
 vyatta-cfg-vpn,
 vyatta-op-vpn,
 vyatta-cluster,
 vyatta-conntrack,
 vyatta-conntrack-sync,
 vyatta-wanloadbalance,
 vyatta-zone,
 vyos-nhrp,
 vyos-1x
Description: VyOS metapackage
 Installs everything required for VyOS to work
